body {
  font-family: sans-serif;
  background-color: #E6F7FF;
  color: #333333;
}

header {
  border-bottom: 1px gray solid;
  padding: 30px 20px 20px 50px;
}

nav {
  float: left;
  width: 250px;
  min-width: 200px;
  min-height: 300px;
}

main {
  margin-left: 250px;
  padding: 20px;
  min-height: 600px;
  border-left: 1px gray solid;
}

footer {
  clear: both;
  border-top: 1px gray solid;
  padding: 20px;
}

.profile-picture {
  float: left;
  margin-right: 30px;
  height: 500px;
  width: auto;
  max-width: 100%; 
  max-height: 100%;
  overflow: hidden;
}

.profile-image {
  border-radius: 30px;
  margin: 50px;
  height: 80%;
  width: auto;
}

.steckbrief {
  margin: 50px;
}

.steckbrief-card {
  background-color: #B0C4DE;
}

.house-text {
  padding: 50px 100px 50px 100px;
}

.house-picture {
  display: flex;
  justify-content: center;
  align-items: center;
} 

.img-house {
  width: 50%;
  height: auto;
  border-radius: 20px;

}
.specifications {
  padding: 50px 30px 50px 30px;
  background-color: #ADD8E6;
  border-radius: 20px;
  margin-top: 30px;
}